*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    background-color: #f8f9fa;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #2c3e50;
}

.logo{
    font-size:20px;
    font-weight: bold;;
}
.nav-links{
    list-style: none;
    display:flex;
    gap:2px;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.hero{
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #fff;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.hero h1{
    font-size:3 rem;
    margin-bottom: 20px;
}
.hero p{
    margin-top: 10px;
    font-size:18px;
}
.hero button{
    margin-top: 20px;
    padding: 12px 30px;
    border:none;
    background-color: #f39c12;
    color: #fff;
    font-size:16px;
    cursor: pointer;
    border-radius:5px;
}
.features{
    display: flex;
    justify-content: space-around;
    gap:30px
    padding: 40px 20px;
    background-color: #ecf0f1;
}
.feature-card{
    background: #fff;
    padding:30px;
    width:220px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
footer{
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
}
@media(max-width:768px){
    .navbar{
        flex-direction: column;
    }
    .features{
        flex-direction: column;
        align-items: center;;
    }
}